@model IEnumerable<GymBooking_Ver0._1.Models.GymClass>
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Index";
    ViewBag.ShowAll = false;
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gympasses"
    }))
{
    <input type="search" , value="searchTerm" />
    <input type="submit" , value="Search by Name" />
}

@if (@ViewBag.bookedGym == "All")
{
    @Html.ActionLink("All", "Index", new { bookedgym = "Booked" }, new { @class = "btn btn-primary btn-large" })
}
else
{
    @Html.ActionLink("Booked", "Index", new { bookedgym = "All" }, new { @class = "btn btn-primary btn-large" })
}
@Html.Partial("_GymPasses")